body {
  margin: 0;
  padding: 0;
  background-color: #faf9f5;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 50px;
  margin: 0 0;
}

form {
  width: 100%;
}

textarea, input[type=text], input[type=password] {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  padding: calc(0.8em - 1px);
  border-radius: 3px;
  border: 1px solid #565656;
  outline: none;
  margin: 1.7em 0;
}

textarea, input[type=text], input[type=password] {
  opacity: 0.5;
  transition: opacity 0.5s cubic-bezier(.25,.8,.25,1);
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
  opacity: 1;
}

.passwordInput {
  transform: translateY(-1.6em);
}

input[type=password] {
  margin-top: 0 !important;
  font-weight: 700;
}

textarea {
  height: 50vh;
  resize: vertical;
  min-height: 2em;
}

a {
  color: #111111;
}

input[type=submit] {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #faf9f5;
  background-color: #111111;
  padding: 0.8em 2em;
  outline: 0;
}