body {
  margin: 0;
  padding: 0;
  background-color: #faf9f5;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 50px;
  margin: 0 0;
}

form {
  width: 100%;
}

textarea, input[type=text], input[type=password], .Dropdown-root {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  padding: calc(0.8em - 1px);
  border-radius: 3px;
  border: 1px solid #565656;
  outline: none;
  margin: 1.7em 0;
}

.large-op {
  transform: translateY(-0.6em);
}

code, pre {
  background: #00000000;
  font-family: 'Roboto Mono', monospace;
  padding: initial;
  border-radius: 3px;
  outline: none;
}

.Dropdown-root {
  cursor: pointer;
}

.Dropdown-root:hover, .Dropdown-root.is-open {
   opacity: 1;
}

.Dropdown-root + label {
  top: 0.5em;
  opacity: 0;
}

.Dropdown-root.is-open + label, .Dropdown-root:hover + label {
  opacity: 1;
  top: -0.1em;
}

.Dropdown-placeholder {
  width: 5.5em;
}

.Dropdown-menu {
  border-top: 1px solid #111111;
  margin-top: 0.5em;
  bottom: auto;
}

.Dropdown-option {
  margin-top: 0.5em;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.Dropdown-option:hover {
  font-weight: 700;
  opacity: 0.4;
}

textarea, input[type=text], input[type=password], .Dropdown-root {
  opacity: 0.5;
  transition: opacity 0.5s cubic-bezier(.25,.8,.25,1);
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
  opacity: 1;
}

input[type=password] {
  font-weight: 700;
}

textarea {
  height: max(45vh, 100%);
  resize: vertical;
  min-height: 45vh;
}

a {
  color: #111111;
}

input[type=submit], button[type=submit] {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #faf9f5;
  background-color: #111111;
  padding: 0.8em 2em;
  margin: 2em 0;
  outline: 0;
}

button[type=button] {
  font-family: 'Lora', serif;
  font-weight: 700;
  width: 8em;
  padding: calc(0.8em - 1px) 1.5em;
  border-radius: 3px;
  color: #111111;
  background-color: #faf9f5;
  border: 1px solid #565656;
  outline: none;
  margin: 2em 2em;
}

ul {
  list-style-type: none;
  display: inline-block;
}

li {
  display: inline-block;
  margin: 0 1em;
}

.mainLogo {
  display: inline-block;
}

.mainLogo a {
  text-decoration: none;
  position: relative;
  margin: 3px;
}

.mainLogo a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #111111;
    width: 0;
    transition: width 0.25s ease;
}

.mainLogo:hover a::after {
  width: 100%;
}