body {
  margin: 0;
  padding: 0;
  background-color: #faf9f5;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 50px;
  margin: 0 0;
}

form {
  width: 100%;
}

textarea, input[type=text] {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  padding: 0.8em;
  border-radius: 3px;
  border: 1px solid #565656;
  outline: none;
  margin-bottom: 1.5em;
}

textarea {
  height: 50vh;
}

a {
  color: #111111;
}

input[type=submit] {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #faf9f5;
  background-color: #111111;
}

input[type=submit]:focus {
  outline: 0;
}